/* Estilo General */
body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-unite-container {
    display: flex;
    width: 900px;
    border: 2px solid #a800ff; /* Borde púrpura exterior */
    overflow: hidden;
}

.unite-banner {
    flex: 1;
    background-color: #000;
}

    .unite-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.unite-form-side {
    flex: 1;
    padding: 40px;
    text-align: center;
    background: white;
}

/* Tipografía y Separadores */
.unite-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: #000;
    margin-bottom: 5px;
}

.unite-divider {
    border: none;
    border-top: 3px dotted #a800ff; /* Línea punteada púrpura */
    margin: 20px 0;
}

/* Campos de entrada según el diseño */
.unite-form label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

.unite-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #a800ff; /* Borde púrpura redondeado */
    border-radius: 25px;
    outline: none;
    text-align: center;
}

/* Botón Ovalado */
.unite-btn {
    background-color: #bc00ff;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

    .unite-btn:hover {
        background-color: #8e00c2;
    }
