@model Usuario
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/estilos.css">

    <div class="unite-container">
        <div class="unite-banner">
            <img src="~/images/Fondo_1.AVIF" alt="Asphalt Unite Banner">
            </div>

            <div class="unite-form-side">
                <h1 class="unite-title">CREAR CUENTA</h1>
                <hr class="unite-divider">

                <form asp-action="Registrarse" method="post">
                    <div class="unite-group">
                        <label>USUARIO</label>
                        <input type="text" asp-for="nombre_usuario" class="unite-input" required>
                        </div>
                        <div class="unite-group">
                            <label>CORREO ELECTRONICO</label>
                            <input type="email" asp-for="email" class="unite-input" required>
                            </div>
                            <div class="unite-group">
                                <label>CONTRASEÑA</label>
                                <input type="password" asp-for="password_hash" class="unite-input" required>
                                </div>
                                <div class="unite-group">
                                    <label>CONFIRMAR CONTRASEÑA</label>
                                    <input type="password" name="confirmar_contrasena" class="unite-input" required>
                                </div>

                                <hr class="unite-divider">
                                <div style="text-align: center;">
                                    <button type="submit" class="unite-btn">CREAR</button>
                                </div>
                            </form>
                        </div>
                    </div>